.button{
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  
  background-color: transparent;
  border: none;
  outline: none;

  transition: all .3s ease;
}

@media screen and (min-width: 769px) {
  .button:hover{
    transform: scale(1.1);
  }
}

.button:active{
  transform: translate(3px, 3px);
  transition: all .1s ease;
}