.test{
  padding: 10px;
}
.section_container{
  padding: 50px 30px;

  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}

.children_container{
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}

.image{
  width: auto;
  height: 100%;
  max-height: 500px;
  
  align-self: center;
}

@media screen and (min-width: 769px) {
  .section_container{
    padding: 100px 60px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 80px;
  }
  .children_container{
    width: 100%;
    max-width: 460px;
    gap: 60px;
  }
}