.theme_black{
  --color-main: var(--color-vermelho);
  --color-background: var(--color-preto);
  --color: var(--color-branco);
  --color-shadow: var(--color-blackS);
  --color-contrast: var(--color-whiteT);
}
.theme_white{
  --color-main: var(--color-azul-aço);
  --color-background: var(--color-branco);
  --color: var(--color-preto);
  --color-shadow: var(--color-whiteS);
  --color-contrast: var(--color-blackT);
}

.body::-webkit-scrollbar{
  width: 0px;
  height: 5px;
}
@media screen and (min-width: 769px) {
  .body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }
}

.body::-webkit-scrollbar-thumb{
  cursor: pointer;
  background-color: var(--color);
  border: 2px solid var(--color-background);
  border-radius: 2px;
}

.body{
  background-color: var(--color-background);
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6,
.body p,
.body span,
.body li{
  color: var(--color);
};