.container > h1{
  text-align: center;
  padding-bottom: 10px;
}

.icon{
  fill: var(--color-main);
}

.ad_container{
  padding-bottom: 0px !important;
  background-image: var(--color-gradient);
}

.service_container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}
.service_icon{
  font-size: 50px;
  color: var(--color);
}
.service_link{
  margin-top: auto;
}

.assessment_container{
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);

  align-items: center;
}