.link{
  width: fit-content;
  padding: 10px 13px;

  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  align-items: center;

  background-color: var(--color);
  box-shadow: 1px 1px 3px var(--color-blackS);
  border-radius: 5px;

  font-weight: 600;
  color: var(--color-background);
  text-decoration: none;
  transition: all .3s ease;
}

.highlight{
  background-color: var(--color-main);
  color: var(--color);
  font-weight: 600;
}

.gradient{
  background-color: var(--color-main);
  background-image: var(--color-gradient);
  color: var(--color);
}

.full_width{
  width: 100%;
  justify-content: center;
}

.link:active{
  transform: translate(3px, 3px);
  transition: all .1s ease;
}

@media screen and (min-width: 769px) {
  .link:hover{
    transform: scale(1.1);
  }
  
  .link:active{
    transform: scale(1.1) translate(3px, 3px);
    transition: all .1s ease;
  }
}