.link{
  display: block;
  color: var(--color);
  transition: all .3s ease;
}

.link:active{
  color: var(--color-main);
  transition: all .1s ease;
}

.strong{
  font-weight: 600;
  text-decoration: none;
}

.highlight{
  color: var(--color-main);
  font-weight: 600;
  text-decoration: none;
}

.highlight:active{
  color: var(--color);
}

@media screen and (min-width: 769px) {
  .link:hover{
    transform: translate(0px, -3px);
  }
}