.main{
  padding-top: 60px;
  margin: auto;
}

.main > h1{
  padding-top: 50px;
  text-align: center;
}

.content_section{
  max-width: 1000px;
  margin: auto;

  text-align: center;
}

.image{
  width: auto;
  height: 100%;

  box-shadow: 0px 0px 10px var(--color-blackS);
  border-radius: 5px;
}

.flow_x_around_container{
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 30px;
}
.flow_x_center_container{
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}

.assessment_section{
  align-items: center;

  border-top: 2px solid var(--color);
}
.assessment_article{
  width: 100%;
  max-width: 500px;
}

@media screen and (min-width: 769px) {
  .main > h1{
    padding-top: 100px;
  }

  .assessment_article{
    align-items: center;
    gap: 30px !important;
    
    text-align: center;
  }
}